
$fontOne: 'Montserrat', sans-serif;
$fontTwo: 'Roboto Slab', serif;;
$fontThree: 'Merriweather', serif;

$colorOne: #222222;
$colorTwo: #777777;
$colorThree: #fed136;
$colorFour: #f7f7f7;
$colorLight: #fff;

$transition: all .8s;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    }

body{
    line-height: 1.7;
    font-family: $fontTwo;
    font-size: 16px;
    font-weight: 400;
    color: $colorTwo;
    text-align: center;
}

section{
    padding: 96px 0;
}


.font{
    &-light{
        color: $colorLight;
    }

    &-italic{
        font-style: italic;
    }

    &-nav{
        font-family: $fontOne;
        text-transform: uppercase;
    }

    &-header{
        &__title{
            font-family: $fontThree;
            font-size: 40px;
            text-transform: capitalize;    
        }
        &__subtitle{
            font-family: $fontOne;
            font-size: 75px;
            font-weight: 700;
        }
    }

    &-title{
        font-family: $fontOne;
        font-weight: 700;
        color: $colorOne;
        font-size: 40px;
        text-transform: uppercase;
    }

    &-subtitle{
        font-family: $fontOne;
        font-weight: 700;
        color: $colorOne;
        font-size: 18px;
    }
}


.btn{
    &,
    &:link,
    &:visited{
        display: inline-block;  
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: $colorLight;
        cursor: pointer;
        transition: $transition;        
    }

    &-one{
        min-width: 240px;
        border-radius: 5px;
        background-position: 100% 0;
        background-size: 300%;
        background-color: $colorThree;
        margin: 24px auto 0 auto;
        padding: 16px; 
    }
}

.splash{
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('../images/header.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;    
    min-height: 700px;
    display: flex;

    .box{
        display: flex;
        flex-direction: column;
    }
    
    .navigation{
        justify-content: space-between;
        padding-top: 50px;

        ul li{            
            display: inline-block;
            cursor: pointer;
            padding: 8px 10px;

            &:hover{
                background-color: $colorThree;
            }
        }
    }      
        
    &-inner{
        margin: auto;
        flex-direction: column;
    }
    
}

.services img{
    display: inline-block;
    border: 2px solid $colorThree;
    border-radius: 50%;
    padding: 20px;
    margin: 80px 0 30px 0;
}

.portfolio{
    background-color: $colorFour;
    
    .portfolio-content{
        margin-top: 80px;

        .row .box{
            margin-bottom: 50px;
        }
    }
    img{
        object-fit: cover;
        overflow: hidden;
    }
}

.page-footer{ 
    padding: 40px 0;
    .box{
       display: flex;
       justify-content: center;
       align-items: center; 
    }

    ul {
        padding: 10px;    
        li {
            display: inline-block;
            font-size: 0; 
            height: 60px;
            width: 60px;
            background-color: $colorOne;
            border-radius: 50%;              
        
            a {                
                color: $colorLight;
                text-decoration: none;
                position: relative;
                width: 100%;
                height: 100%;                
                display: flex;
            }
            
            i { 
                margin: auto;
                font-size: 30px; 
            }
            
            &:hover {
                background-color: $colorThree;  
            }
        }     
    }
}

@media screen and (max-width: 991px){
    section{
        padding: 48px 0;
    }

    .page-footer{
        .icons{
            order: -1;
        }
    }
}