/* Variables */
$fontOne: 'Montserrat', sans-serif;
$fontTwo: 'Roboto Slab', serif;;
$fontThree: 'Merriweather', serif;

$colorOne: #222222;
$colorTwo: #777777;
$colorThree: #fed136;
$colorLight: #fff;

$transition: all .8s;

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    }

body{
    line-height: 1.7;
    font-family: $fontTwo;
    font-size: 16px;
    font-weight: 400;
    color: $colorTwo;
    text-align: center;
}

section{
    padding: 96px 0;
}

.font{
    &-light{
        color: $colorLight;
    }

    &-italic{
        font-style: italic;
    }

    &-nav{
        font-family: $fontOne;
        text-transform: uppercase;
    }

    &-header{
        &__title{
            font-family: $fontThree;
            font-size: 40px;    
        }
        &__subtitle{
            font-family: $fontOne;
            font-size: 75px;
            font-weight: 700;
        }
    }

    &-title{
        font-family: $fontOne;
        font-weight: 700;
        color: $colorOne;
        font-size: 40px;
    }

    &-subtitle{
        font-family: $fontOne;
        font-weight: 700;
        color: $colorOne;
        font-size: 18px;
    }
}


.btn{
    &,
    &:link,
    &:visited{
        display: inline-block;
        min-width: 240px;
        margin: 24px auto 0 auto;
        padding: 16px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: $colorLight;
        cursor: pointer;
        transition: $transition;
        background-position: 100% 0;
        background-size: 300%;
        background-color: $colorThree;
    }
}

.splash{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../images/header.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;    
    min-height: 700px;
    display: flex;

    .navigation{
        justify-content: space-between;
        padding-top: 50px;

        ul li{            
            display: inline-block;
            padding: 0 10px;
        }
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .splash{
        
        &-inner{
            margin: auto;
            flex-direction: column;
            align-self: center;
        }
    }
}